body
 {
 background-color:green;
 }
h1
 {
 color: red
 border- width: thick;
 border-color: blue;
 border-style:double;
 background-color: silver;
 text-align: center;
 }
h2
 {
 color: red;
 }

p
 {
  font-family:Castellar;
  color:yellow;
  }
.fett
 {
 font-style:italic;
 font-weight: bold;
 }
.ende
 {
 font-variant:small-caps;
 color: red;
 font-size: x-large;
 }